doctype
html(lang="ja")
  head
    meta(charset="UTF-8")
    title
    link(rel="stylesheet", href="../css/reset.css")
    link(rel="stylesheet", href="css/main.css")
  body(style="width: #{width}#{unit}; height: #{height}#{unit}")
    #wrapper
      h1 month
      table
        tr
          each name in ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
            th= name
        tr
          
